asgiref==3.4.1
Babel==2.9.1
beautifulsoup4==4.9.3
bootstrap4==0.1.0
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
dj-database-url==0.5.0
djangify==1.0.0
Django==3.2.6
django-bootstrap4==3.0.1
django-crispy==1.8.1
django-filter==2.4.0
django-heroku==0.3.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
flake8==3.9.2
gunicorn==20.1.0
heroku==0.1.4
i18n==0.2
idna==3.2
mccabe==0.6.1
path==16.2.0
psycopg==3.0b1
psycopg2==2.9.1
py==1.10.0
pyclean==2.0.0
pycodestyle==2.7.0
pyflakes==2.3.1
pygame==2.0.1
PyJWT==2.1.0
python-dateutil==1.5
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
slugify==0.0.1
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.6
whitenoise==5.3.0
